*{
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    background-color: #15173D;
}

h1{
    margin:50px;
    color: #F1E9E9;
    font-size: 4rem;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game{
    height:60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap :1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    background-color: #E491C9;
    color: #F1E9E9;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}



#reset-btn {
    position: fixed;  
    bottom: 20px;      
    right: 20px; 
    padding: 0.6rem;
    font-size: 0.7rem;
    background-color: #982598;
    color: #F1E9E9;
    
}

#msg{
    color: #F1E9E9;
    font-size: 7vmin;
}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#new-btn {
    padding: 0.6rem;
    font-size: 0.7rem;
    background-color: #982598;
    color: #F1E9E9;
}

.hide{
    display: none;
}
